body{
    background-color: #141414;
    color: #fff;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#netflixLogo{
    width: 100px;
}
#kidsLogo{
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
#avatar{
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
#dropdownMenu2{
    border: 3px solid white;
    background-color: #141414;
}
#dropdownMenuButton1{
    background-color: #141414;
    border: 0px
}